.product {
  display: flex;
  width: 24rem;
  height: 12rem;
  background-color: #ffff;
  padding: 0.5rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  color: var(--secondary-dark);
  border-radius: 0.2rem;
  transform: scale(0.9);
  transition: all ease 0.2s;
  border-right: 3px solid var(--secondary);
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
}

.product__title {
  font: 1.3rem var(--default-font);
}

.product__price {
  font: 1.5rem var(--default-font);
  font-weight: 700;
}

.product:hover {
  transform: scale(1);
}
