.productField {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1920px) and (max-width: 2048px) {
  .productField {
    justify-content: flex-start;
  }
}
